@!error({
  code: 404,
  title: 'Página não encontrada',
  description: 'Não foi possível encontrar a página que você procura. Você digitou a URL corretamente?',
  image: '/images/error404-img.svg'
})
