{
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "tabWidth": 2,
  "jsxSingleQuote": true
}
