.changePassWave{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.resetPassTitle{
  font-size: 2rem;
}
.resetPassText{
  font-size: 1.5rem;
}

button.recoverPassBackButton {
  font-weight: bold;
  color: black;
  font-size: 1.12rem;
  display: block;
  margin: auto;
}

.recoverPassImg{
  padding-top:6vh;
  padding-bottom:7vh;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:left
}
